<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Viagens</title>

    <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">

    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    
<!-- section -->

<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><img src="../images/logo-remove.png" alt="" width="40px" ><span>Viajando sem </span>Fronteiras</a>

    <nav class="navbar">
        <a href="../index.html">Página Inicial</a>
        <a href="../index.html#about">Sobre</a>
        <a href="../index.html#packages">Destaque</a>
        <a href="../index.html#contact">Contato</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

<!-- home -->

<section class="home" id="home">

    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" _mstaria-label="66157" _msthash="13" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" _mstaria-label="66313" _msthash="14" class=""></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" _mstaria-label="66469" _msthash="15" class=""></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../images/banner-4.jpg" alt="">
          </div>
          <div class="carousel-item" _mstvisible="0">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../images/banner-5.jpg" alt="">
          </div>
          <div class="carousel-item" _mstvisible="0">
            <img class="bd-placeholder-img" width="100%" height="100%" src="../images/banner-6.jpg" alt="">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden" _msttexthash="116246" _msthash="25">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden" _msttexthash="113945" _msthash="26">Próximo</span>
        </button>
      </div>

</section>

<!-- article -->

<section class="article" id="article">

    <div class="box-container">

        <div class="box">
            <div class="content">
                <h3>Descobrindo Novos Horizontes</h3>
                <span>Publicado em 30 de Março de 2024</span>
                <p>Descubra novos horizontes seja explorando lugares exóticos, 
                    mergulhando em culturas vibrantes ou desfrutando de paisagens deslumbrantes, 
                    cada destino oferece uma oportunidade única para expandir nossos horizontes.</p>
                <p>Então, que tal escolher um dos 10 Destinos Incríveis mencionado? Seja Kyoto, com seus templos antigos e jardins zen, 
                    ou a misteriosa Ilha de Jeju, você está prestes a embarcar em uma aventura inesquecível.</p>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h3>10 Destinos Incríveis para Visitar em 2024</h3>
                <span>Publicado em 30 de Março de 2024</span><br>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">Sardenha, Itália</li>
                    <li class="list-group-item">Urla, Turquia</li>
                    <li class="list-group-item">Niseko, Japão</li>
                    <li class="list-group-item">Jeju, Coreia do Sul</li>
                    <li class="list-group-item">Vale Orkhon, Mongólia</li>
                    <li class="list-group-item">Goa, Índia</li>
                    <li class="list-group-item">Tangalle, Sri Lanka</li>
                    <li class="list-group-item">Oaxaca, México</li>
                    <li class="list-group-item">Comporta, Portugal</li>
                    <li class="list-group-item"> Iguaçu, Brasil/Argentina</li>
                </ol>
            </div>
        </div>

       <div class="box">
            <div class="content">
                <h3>Dicas para Economizar em Viagens pelo Mundo</h3>
                <span>Publicado em 30 de Março de 2024</span>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Encontre grupos de ofertas locais: </strong>Explore sites de ofertas e promoções para obter descontos em hospedagem, passeios e refeições.</li>
                    <li class="list-group-item"><strong>Escape das parcelas: </strong>Evite parcelar suas despesas de viagem. Pagar à vista pode economizar dinheiro em taxas de juros.</li>
                    <li class="list-group-item"><strong>Use o transporte público local: </strong> Em vez de táxis ou carros alugados, opte pelo transporte público. Além de ser mais econômico, você também terá uma experiência mais autêntica.</li>
                    <li class="list-group-item"><strong>Dê preferência às hospedagens alternativas:  </strong>Considere alugar apartamentos ou ficar em albergues em vez de hotéis caros. Isso pode economizar bastante dinheiro.</li>
                    <li class="list-group-item"><strong>Coma na rua: </strong>Experimente a comida local em mercados e barracas de rua. Essa é uma maneira deliciosa e econômica de saborear a culinária do destino.</li>
                </ul>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <h3>Explorando a Cultura Local</h3>
                <span>Publicado em 30 de Março de 2024</span>
                <p>Explore museus, galerias de arte e centros culturais para aprender sobre a história, arte e tradições locais,
                    verifique se há festivais, celebrações ou eventos especiais acontecendo durante a sua estadia. A comida é uma parte fundamental da cultura de qualquer lugar,
                    se permita experimentar todas.
                </p>
            </div>
        </div>

    </div>

</section>

<!-- footer -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Sobre nós</h3>
            <p>Somos uma equipe apaixonada por viagens, compartilhando histórias e dicas para inspirar outros viajantes.</p>
        </div>
        <div class="box">
            <h3>contato</h3>
            <a href="#"><i class="fas fa-solid fa-map-pin"></i> Endereço: Av.Viajante Feliz, 123, Mundo dos Sonhos</a>
            <a href="#"><i class="fas fa-solid fa-phone"></i>  +55 123 456 789</a>
            <a href="#"><i class="fas fa-solid fa-envelope"></i>  Email: viajandosemfronteiras@gmail.com</a>
        </div>
        <div class="box">
            <h3>links rápidos</h3>
            <a href="../index.html">início</a>
            <a href="../index.html#packages">destaque</a>
            <a href="../index.html#contact">contato</a>
        </div>
        <div class="box">
            <h3>Siga-nos</h3>
            <a href="#"><i class="fab fa-facebook-f"></i>  facebook</a>
            <a href="#"><i class="fab fa-instagram"></i>  instagram</a>
            <a href="#"><i class="fab fa-twitter"></i>  twitter</a>
        </div>

    </div>

    <h1 class="credit"> criado por <span>Alessandro</span> & <span>Luanna</span></h1>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- js link  -->
<script src="../script.js"></script>

</body>
</html>