<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de Viagens</title>

    <link rel="shortcut icon" href="../images/logo.jpeg" type="image/x-icon">

    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- css link -->
    <link rel="stylesheet" href="../style.css">

</head>
<body>
    
<!-- header -->

<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><img src="../images/logo-remove.png" alt="" width="40px" ><span>Viajando sem </span>Fronteiras</a>

    <nav class="navbar">
        <a href="../index.html">Página Inicial</a>
        <a href="../index.html#about">Sobre</a>
        <a href="../index.html#packages">Destaque</a>
        <a href="../index.html#contact">Contato</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="search here...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

<!-- destino dos sonhos -->

<section class="destiny" id="destinoSonho">
 
    <div class="row">

        <div class="video">
            <video src="../images/destino.mp4" loop muted autoplay></video>
         </div>
 
       <div class="content">
        <h3>Destino dos Sonhos</h3>
          <p>Imagine-se em uma praia paradisíaca, com areias brancas e águas cristalinas. 
            Este é o tipo de destino que todos sonham em visitar pelo menos uma vez na vida.</p>
          <p>Se você está em busca de relaxamento total, aventura emocionante ou apenas quer fugir da rotina, 
            o Destino dos Sonhos oferece tudo isso e muito mais.</p>
          <p>Prepare-se para explorar praias deslumbrantes, mergulhar em recifes coloridos e experimentar a culinária local irresistível. 
            Este é o lugar onde os sonhos se tornam realidade.</p>
       </div>
 
    </div>
 
 </section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="../images/tailandia.jpg" alt="">
            <div class="content">
                <h3>Conheça as Maravilhas da Tailândia</h3>
                <p>Descubra praias paradisíacas, templos budistas e muito mais neste destino dos sonhos.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7962196.872478608!2d96.19221068812328!3d12.98518719213865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304d8df747424db1%3A0x9ed72c880757e802!2sTail%C3%A2ndia!5e0!3m2!1spt-BR!2sbr!4v1712986753028!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="box">
            <img src="../images/amazonia.jpg" alt="">
            <div class="content">
                <h3>Aventura na Amazônia</h3>
                <p>Descubra praias paradisíacas, templos budistas e muito mais neste destino dos sonhos.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15930.09307037204!2d-62.226180240283725!3d-3.4653051441453675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91e8605342744385%3A0x3d3c6dc1394a7fc7!2zQW1hesO0bmlh!5e0!3m2!1spt-BR!2sbr!4v1712987129507!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="box">
            <img src="../images/italia.jpg" alt="">
            <div class="content">
                <h3>Viagem dos Sonhos: Itália</h3>
                <p>Explore a rica história, arte e gastronomia da Itália em uma viagem que vai encantar todos os seus sentidos.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6150913.672261751!2d7.4295725319031956!3d41.16996955406148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2zSXTDoWxpYQ!5e0!3m2!1spt-BR!2sbr!4v1712988205193!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


    </div>

</section>

<!-- cultura local -->

<section class="destiny" id="culturaLocal">
 
    <div class="row">

        <div class="video">
            <video src="../images/cultura.mp4" loop muted autoplay></video>
         </div>
 
       <div class="content">
        <h3>Cultura Local</h3>
          <p>Descubra a verdadeira essência de um destino através de sua cultura local. Cada cidade, vila ou comunidade tem suas próprias tradições, 
            costumes e história única que estão esperando para serem exploradas.</p>
          <p>Da música e dança tradicionais às artes culinárias autênticas, mergulhe na riqueza cultural de cada lugar que visitar. 
            Conheça os habitantes locais, ouça suas histórias e experimente a hospitalidade calorosa que eles têm para oferecer.</p>
          <p>Explorar a cultura local não apenas enriquece sua experiência de viagem, 
            mas também permite que você compreenda melhor o mundo diversificado em que vivemos. 
            Prepare-se para uma jornada de descoberta e aprendizado que o deixará maravilhado.</p>
       </div>
 
    </div>
 
 </section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="../images/festival-cultural.jpg" alt="">
            <div class="content">
                <h3>Festivais Locais</h3>
                <p>Descubra os festivais culturais mais emocionantes ao redor do mundo e mergulhe na atmosfera festiva.</p>
            </div>
        </div>

        <div class="box">
            <img src="../images/artesanato.jpg" alt="">
            <div class="content">
                <h3>Artesanato Tradicional</h3>
                <p>Explore o artesanato local e descubra obras de arte únicas feitas à mão por talentosos artesãos locais.</p>
            </div>
        </div>

        <div class="box">
            <img src="../images/gastronomia.jpg" alt="">
            <div class="content">
                <h3>Gastronomia Regional</h3>
                <p>Delicie-se com os sabores autênticos da gastronomia regional e descubra os segredos da culinária local.</p>
            </div>
        </div>


    </div>

</section>

<!-- aventuras inesqueciveis -->

<section class="destiny" id="aventuraInesqueciveis">
 
    <div class="row">

        <div class="video">
            <video src="../images/aventura.mp4" loop muted autoplay></video>
         </div>
 
       <div class="content">
        <h3>Aventuras Inesquecíveis</h3>
          <p>Prepare-se para a aventura de uma vida inteira. Das montanhas mais altas às profundezas dos oceanos, 
            o mundo está cheio de experiências emocionantes esperando para serem exploradas.</p>
          <p>Se você é um entusiasta dos esportes radicais, um amante da natureza ou simplesmente gosta de desafiar seus limites, 
            as Aventuras Inesquecíveis oferecem uma variedade de atividades que irão satisfazer sua sede de emoção.</p>
          <p>Experimente o rush de adrenalina enquanto pratica paraquedismo, escalada em rocha ou surf de ondas gigantes. 
            Ou embarque em uma jornada de trekking épica para descobrir paisagens deslumbrantes e vistas de tirar o fôlego.</p>
          <p>Independentemente do seu nível de experiência ou preferências, há uma aventura esperando por você. Então, vista-se, 
            prepare-se e embarque nesta jornada inesquecível que o levará aos limites da sua imaginação.</p>
       </div>
 
    </div>
 
 </section>

<section class="packages">

    <div class="box-container">

        <div class="box">
            <img src="../images/paraqueda.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-solid fa-parachute-box"></i>  Paraquedismo Extremo</h3>
                <p>Sinta a emoção de saltar de um avião a milhares de metros de altura e desfrute de uma vista espetacular durante a queda livre.</p>
            </div>
        </div>

        <div class="box">
            <img src="../images/escalada.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-solid fa-mountain"></i>  Trekking nas Montanhas</h3>
                <p>Explore trilhas desafiadoras e vistas panorâmicas incríveis enquanto se aventura pelas majestosas montanhas do mundo.</p>
            </div>
        </div>

        <div class="box">
            <img src="../images/mergulho.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-solid fa-water"></i>  Mergulho Profundo</h3>
                <p>Descubra o mundo subaquático e explore recifes de coral, naufrágios e uma variedade de vida marinha fascinante.</p>
            </div>
        </div>


    </div>

</section>


<!-- footer -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Sobre nós</h3>
            <p>Somos uma equipe apaixonada por viagens, compartilhando histórias e dicas para inspirar outros viajantes.</p>
        </div>
        <div class="box">
            <h3>contato</h3>
            <a href="#"><i class="fas fa-solid fa-map-pin"></i> Endereço: Av.Viajante Feliz, 123, Mundo dos Sonhos</a>
            <a href="#"><i class="fas fa-solid fa-phone"></i>  +55 123 456 789</a>
            <a href="#"><i class="fas fa-solid fa-envelope"></i>  Email: viajandosemfronteiras@gmail.com</a>
        </div>
        <div class="box">
            <h3>links rápidos</h3>
            <a href="../index.html">início</a>
            <a href="#destinoSonho">destino dos sonhos</a>
            <a href="#culturaLocal">cultura local</a>
            <a href="#aventuraInesqueciveis">aventuras inesquecíveis</a>
        </div>
        <div class="box">
            <h3>Siga-nos</h3>
            <a href="#"><i class="fab fa-facebook-f"></i>  facebook</a>
            <a href="#"><i class="fab fa-instagram"></i>  instagram</a>
            <a href="#"><i class="fab fa-twitter"></i>  twitter</a>
        </div>

    </div>

    <h1 class="credit"> criado por <span>Alessandro</span> & <span>Luanna</span></h1>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- js link  -->
<script src="../script.js"></script>

</body>
</html>